# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv/
venv/
ENV/
env/

# PyInstaller
build/
dist/
*.spec

# Настройки пользователя
chikchik_settings.json

# ОС
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo